<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Inscription - CineForum</title>
  <link rel="stylesheet" href="/static/css/inscription.css">
</head>
<body>

  <div class="auth-wrapper">
    <form class="auth-form" action="/inscription" method="post">
      <h2>Inscription</h2>
      
      <label for="username">Nom d’utilisateur</label>
      <input type="text" name="username" id="username" required>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>

      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" required>

      <button type="submit" class="btn btn-submit">S’inscrire</button>

      <a class="link" href="/connexion">Déjà un compte ? Connecte-toi</a>
      <a class="link" href="/">Revenir à l'accueil</a>
    </form>
  </div>
</body>
</html>