<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Modifier Profil - CinéForum</title>
    <link rel="stylesheet" href="/static/css/modify_profil.css">
  </head>
  <body>
    <header>
      <h1>Modifier Le Profil</h1>
      <nav>
        <a href="/profil" class="btn">Retour au Profil</a>
      </nav>
    </header>
    <main>
      <section class="profile-edit-container">
        <form action="/modify-profil" method="post">
          <label for="username">Nom d'utilisateur :</label>
          <input type="text" id="username" name="username" value="{{.Username}}" required>
          <p>Choisissez une nouvelle photo de profil :</p>
          
          <!-- Section Netflix -->
          <div class="category">
            <h2>Netflix</h2>
            <div class="photo-options">
              <img src="/static/images/profil/netflix-bleu.jpg" alt="Bleu" onclick="selectPhoto(this)" data-photo="netflix-bleu.jpg">
              <img src="/static/images/profil/netflix-jaune.png" alt="Jaune" onclick="selectPhoto(this)" data-photo="netflix-jaune.png">
              <img src="/static/images/profil/netflix-rouge.jpg" alt="Rouge" onclick="selectPhoto(this)" data-photo="netflix-rouge.jpg">
              <img src="/static/images/profil/netflix-vert.jpg" alt="Vert" onclick="selectPhoto(this)" data-photo="netflix-vert.jpg">
            </div>
          </div>

          <!-- Section Marvel -->
          <div class="category">
            <h2>Marvel</h2>
            <div class="photo-options">
              <img src="/static/images/profil/avengers.png" alt="Avengers" onclick="selectPhoto(this)" data-photo="avengers.png">
              <img src="/static/images/profil/iron-man.jpg" alt="Iron Man" onclick="selectPhoto(this)" data-photo="iron-man.jpg">
              <img src="/static/images/profil/spider-man.jpg" alt="Spider-Man" onclick="selectPhoto(this)" data-photo="spider-man.jpg">
              <img src="/static/images/profil/wanda.jpg" alt="Wanda" onclick="selectPhoto(this)" data-photo="wanda.jpg">
              <img src="/static/images/profil/doctor-strange.jpg" alt="Doctor Strange" onclick="selectPhoto(this)" data-photo="doctor-strange.jpg">
              <img src="/static/images/profil/black-widow.jpg" alt="Black Widow" onclick="selectPhoto(this)" data-photo="black-widow.jpg">
              <img src="/static/images/profil/hawkeye.jpg" alt="Hawkeye" onclick="selectPhoto(this)" data-photo="hawkeye.jpg">
              <img src="/static/images/profil/hulk.jpg" alt="Hulk" onclick="selectPhoto(this)" data-photo="hulk.jpg">
              <img src="/static/images/profil/captain-america.jpg" alt="Captain America" onclick="selectPhoto(this)" data-photo="captain-america.jpg">
              <img src="/static/images/profil/thor.jpg" alt="Thor" onclick="selectPhoto(this)" data-photo="thor.jpg">
              <img src="/static/images/profil/black-panther.jpg" alt="Black Panther" onclick="selectPhoto(this)" data-photo="black-panther.jpg">
              <img src="/static/images/profil/falcon.jpg" alt="Falcon" onclick="selectPhoto(this)" data-photo="falcon.jpg">
              <img src="/static/images/profil/ant-man.jpg" alt="Ant-Man" onclick="selectPhoto(this)" data-photo="ant-man.jpg">
              <img src="/static/images/profil/vision.jpg" alt="Vision" onclick="selectPhoto(this)" data-photo="vision.jpg">
              <img src="/static/images/profil/captain-marvel.jpg" alt="Captain Marvel" onclick="selectPhoto(this)" data-photo="captain-marvel.jpg">
              <img src="/static/images/profil/rocket.jpg" alt="Rocket" onclick="selectPhoto(this)" data-photo="rocket.jpg">
              <img src="/static/images/profil/star-lord.jpg" alt="Star-Lord" onclick="selectPhoto(this)" data-photo="star-lord.jpg">
              <img src="/static/images/profil/nebula.jpg" alt="Nebula" onclick="selectPhoto(this)" data-photo="nebula.jpg">
              <img src="/static/images/profil/drax.jpg" alt="Drax" onclick="selectPhoto(this)" data-photo="drax.jpg">
              <img src="/static/images/profil/gamora.jpg" alt="Gamora" onclick="selectPhoto(this)" data-photo="gamora.jpg">
              <img src="/static/images/profil/mantis.jpg" alt="Mantis" onclick="selectPhoto(this)" data-photo="mantis.jpg">
              <img src="/static/images/profil/groot.jpg" alt="Groot" onclick="selectPhoto(this)" data-photo="groot.jpg">
              <img src="/static/images/profil/monica.jpg" alt="Monica" onclick="selectPhoto(this)" data-photo="monica.jpg">
              <img src="/static/images/profil/wong.jpg" alt="Wong" onclick="selectPhoto(this)" data-photo="wong.jpg">
              <img src="/static/images/profil/deadpool.jpg" alt="Deadpool" onclick="selectPhoto(this)" data-photo="deadpool.jpg">
              <img src="/static/images/profil/wolverine.jpg" alt="Wolverine" onclick="selectPhoto(this)" data-photo="wolverine.jpg">
              <img src="/static/images/profil/miss-marvel.jpg" alt="Miss Marvel" onclick="selectPhoto(this)" data-photo="miss-marvel.jpg">
              <img src="/static/images/profil/moon-knight.jpg" alt="Moon Knight" onclick="selectPhoto(this)" data-photo="moon-knight.jpg">
            </div>
          </div>
          
          <!-- Section DC -->
          <div class="category">
            <h2>DC</h2>
            <div class="photo-options">
              <img src="/static/images/profil/batman.jpg" alt="Batman" onclick="selectPhoto(this)" data-photo="batman.jpg">
              <img src="/static/images/profil/superman.jpg" alt="Superman" onclick="selectPhoto(this)" data-photo="superman.jpg">
              <img src="/static/images/profil/cat-woman.jpg" alt="Cat Woman" onclick="selectPhoto(this)" data-photo="cat-woman.jpg">
              <img src="/static/images/profil/flash.jpg" alt="Flash" onclick="selectPhoto(this)" data-photo="flash.jpg">
              <img src="/static/images/profil/green-lantern.jpg" alt="Green Lantern" onclick="selectPhoto(this)" data-photo="green-lantern.jpg">
              <img src="/static/images/profil/aquaman.jpg" alt="Aquaman" onclick="selectPhoto(this)" data-photo="aquaman.jpg">
              <img src="/static/images/profil/joker.jpg" alt="Joker" onclick="selectPhoto(this)" data-photo="joker.jpg">
              <img src="/static/images/profil/harley-quinn.jpg" alt="Harley Quinn" onclick="selectPhoto(this)" data-photo="harley-quinn.jpg">
              <img src="/static/images/profil/shazam.jpg" alt="Shazam" onclick="selectPhoto(this)" data-photo="Shazam.jpg">
              <img src="/static/images/profil/black-adam.jpg" alt="Black Adam" onclick="selectPhoto(this)" data-photo="black-adam.jpg">
            </div>
          </div>

          <!-- Section Stranger Things -->
          <div class="category">
            <h2>Stranger Things</h2>
            <div class="photo-options">
              <img src="/static/images/profil/eleven.jpg" alt="Eleven" onclick="selectPhoto(this)" data-photo="eleven.jpg">
              <img src="/static/images/profil/dustin.jpg" alt="Dustin" onclick="selectPhoto(this)" data-photo="dustin.jpg">
              <img src="/static/images/profil/mike.jpg" alt="Mike" onclick="selectPhoto(this)" data-photo="mike.jpg">
              <img src="/static/images/profil/lucas.jpg" alt="Lucas" onclick="selectPhoto(this)" data-photo="lucas.jpg">
              <img src="/static/images/profil/will.jpg" alt="Will" onclick="selectPhoto(this)" data-photo="will.jpg">
              <img src="/static/images/profil/max.jpg" alt="Max" onclick="selectPhoto(this)" data-photo="max.jpg">
              <img src="/static/images/profil/robin.jpg" alt="Robin" onclick="selectPhoto(this)" data-photo="robin.jpg">
              <img src="/static/images/profil/steve.jpg" alt="Steve" onclick="selectPhoto(this)" data-photo="steve.jpg">
              <img src="/static/images/profil/hopper.jpg" alt="Hopper" onclick="selectPhoto(this)" data-photo="hopper.jpg">
            </div>
          </div>

          <!-- Section Star Wars -->
          <div class="category">
            <h2>Star Wars</h2>
            <div class="photo-options">
              <img src="/static/images/profil/anakin.jpg" alt="Anakin" onclick="selectPhoto(this)" data-photo="anakin.jpg">
              <img src="/static/images/profil/rey.jpg" alt="Rey" onclick="selectPhoto(this)" data-photo="rey.jpg">
              <img src="/static/images/profil/luke.jpg" alt="Luke" onclick="selectPhoto(this)" data-photo="luke.jpg">
              <img src="/static/images/profil/han-solo.jpg" alt="Han Solo" onclick="selectPhoto(this)" data-photo="han-solo.jpg">
              <img src="/static/images/profil/leia.jpg" alt="Leia" onclick="selectPhoto(this)" data-photo="leia.jpg">
              <img src="/static/images/profil/yoda.jpg" alt="Yoda" onclick="selectPhoto(this)" data-photo="yoda.jpg">
              <img src="/static/images/profil/darth-vader.jpg" alt="Darth Vader" onclick="selectPhoto(this)" data-photo="darth-vader.jpg">
              <img src="/static/images/profil/obi-wan.jpg" alt="Obi Wan" onclick="selectPhoto(this)" data-photo="obi-wan.jpg">
            </div>
          </div>

          <input type="hidden" id="photo" name="photo" value="{{.Photo}}">
          <div class="btn-container">
            <button type="submit" class="btn">Enregistrer</button>
            <button type="submit" name="remove_photo" value="true" class="btn btn-remove">Retirer la photo</button>
          </div>
        </form>
      </section>
    </main>
    <script>
      function selectPhoto(img) {
        const imgs = document.querySelectorAll('.photo-options img');
        imgs.forEach(i => i.classList.remove('selected'));
        img.classList.add('selected');
        document.getElementById('photo').value = img.getAttribute('data-photo');
      }
    </script>
  </body>
</html>